@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.heroImage{
    background-image: url('../public/Group3.svg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.heroFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.bookimg{
    width: 70%;
    line-height: 100vh;
    margin: auto;
    border-radius: 25px 0 45px 0;
}
.bookHeading{
    width: 40%;
}
.first_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #414141;
    margin: 0;
}

.second_Heading{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    width: 80%;
    font-size: 52px;
    color: #F6F6F6;
    margin: 0;

}
.third_Heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #C4C4C4;
}
.Fourth_Heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #C4C4C4;
}
.thinkyoutube_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.thinkyoutube_mainHeading{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 76px;
    color: #000000;
    
}
.thinkyoutube_image{
    width: 90%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.thinkyoutube_size{
    width: 53%;
    margin: auto;
}
.thinkyoutube_paragraph{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000bb;
    width: 60%;
}
.thinkyoutube_sub_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    
}
.thinkyoutbe_box{
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
}
.thinkyoutube_box_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}
.thinkyoutube_box_paragraph{
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    color: #00000057;

}
.count{
    background-color:transparent;
    background-image: radial-gradient(at center center, #38373C 0%, #151515 100%);
    width: 80%;
    border-radius: 25px 0 25px 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.iconuser{
    margin: auto;
    color: yellow;
}
.countup{
    font-size: 25px !important;
    font-weight: bold !important;
    display: block !important;
}
.count2{
    background-color:transparent;
    background-image: radial-gradient(at center center, #38373C 0%, #151515 100%);
    width: 80%;
    border-radius: 0 25px 0 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.bgs{
    width: 90%;
    margin-top: 20px;
}
.bgss{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgsss{
    display: flex;
    align-items: center;
    margin: auto;

}
.life_box{
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.life_box > h4{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
}
.life_box > p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}
.skill-container{
    width: 100%;
    background-color: transparent;
    /* background-image: radial-gradient(at center center, #38373C 0%, #151515 82%); */
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
}
.skill_box{
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.skill_box >h2{
    font-family: Inter, Sans-serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: 1.3px;
    color: white;
}

.borderskill{
    border-bottom: 2px solid #FFB901;
    padding-bottom: 20px;
}
.skillFlex{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.catagory_conatiner{
    font-family: "Inter", Sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    color: white;
}

.skill_box2{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.catagory_flex{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.catagory_flex_hover{
    width: 250px;
    background: black;
    margin-bottom:20px;
    text-align: center;
    border-radius: 15px 0 15px 0;
    transition: all .2s ease-in-out;
}
.catagory_flex_hover:hover{
    transform: scale(1.1);
    opacity: 0.6;
}

.box_catagory{
    width: 362px !important;
    background-color: rgb(99, 116, 99) !important;
}
.para_cont{
    color: white;
}
.largegroup{
    color: white;
}
.largegroup2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F6F6F6;
}
.Group_conf{
    color: #E3B002;
    background-color: black;
    border: none;
    outline: none;
    width: 80%;
    padding: 5px;
    border: 1px solid #E3B002;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-para{
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    transition: all .2s ease-in-out;
    transition-timing-function: linear;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.btn-para2{
    transition: all .2s ease-in-out;
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}
.paragraphs{
    width: 100%;
    margin: 20px auto;

}
.p-2{
    width: 50%;
    margin: auto;
}
.box-pra{
    width: 100%;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px 0px 15px 0px;
    padding: 40px;
}
.box-pra2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}
.box-pra3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}
.box-pra4{
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    color: #000000;
}
.box-pra5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;

}
.profile_box{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    transition: all .5s ease-in-out;
    height: 1200px !important;
}
.profile_box2{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    transition: all .5s ease-in-out;
    height: 600px !important;
}
.profile_container{
    width: 90%;
    margin: auto;
    display: flex;
}
.new{
    width: 130%;
}
.markgroup{
    width: 80%;
    margin-top: 50px;
    border-radius: 15px 0px 15px 0px;
}
.sign{
    margin-top: 50px;
    width: 5%;
}
.charlie{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #F6F6F6;
}
.charlie_para{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #888888;
}
.charlie_para2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #888888;
}
.Group_conf2{
    color: #E3B002;
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    padding: 5px;
    border: 1px solid #E3B002;
    margin-top: 10px;
    margin-bottom: 20px;
}
.boxx{
    width: 80%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}
.boxx1{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #000000;
}
.boxx2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.boxx3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.boxx4{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    border-left: 4px solid #E3B002;
    padding-left: 15px;
}
.heading_boxx{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}

.lg2{
    transition: all .5s ease-in-out;
    width: 0%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0px;
    height: 0;
    overflow: hidden;
}
.lg{
    transition: all .5s ease-in-out;
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 15px 0 15px 0;
}
.boxx8{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}