@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@media screen and (max-width: 1050px) and (min-width: 300px) {
    .heroImage{
        background-image: url('../public/Group3.svg');
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .heroFlex{
        display: block;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }
    .bookimg{
        width: 35%;
        text-align: center;
        display: block;
        padding-top: 130px;
    }
    .bookHeading{
        width: 100%;
        padding-top: 80px;
    }
    .first_heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        color: #414141;
        margin: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .second_Heading{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #F6F6F6;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .third_Heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #C4C4C4;
        text-align: center;
        padding-bottom: 20px;
    }
    .Fourth_Heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #C4C4C4;
        text-align: center;

    }
    .thinkyoutube_container{
        width: 100%;
        display: block;
        justify-content: space-between;
        margin-top: 20px;
    }
    .thinkyoutube_mainHeading{
        font-family: Inter;
        font-style: normal;
        font-weight: bolder;
        font-size: 28px;
        text-align: center;
        color: #000000;
    }
    .thinkyoutube_image{
        width: 90%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .thinkyoutube_size{
        width: 90%;
        margin: auto;
    }
    .thinkyoutube_paragraph{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #000000bb;
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
    }
    .thinkyoutube_sub_heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        color: #000000;
        padding-bottom: 20px;
        
    }
    .thinkyoutbe_box{
        width: 90%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
    }
    .thinkyoutube_box_heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        color: #000000;
    }
    .thinkyoutube_box_paragraph{
        font-family: Montserrat;
        font-style: normal;
        font-size: 15px;
        color: #00000057;
    
    }
    .count{
        background-color:transparent;
        background-image: radial-gradient(at center center, #38373C 0%, #151515 100%);
        width: 100%;
        border-radius: 25px 0 25px 0;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .iconuser{
        margin: auto;
        color: yellow;
    }
    .countup{
        font-size: 25px !important;
        font-weight: bold !important;
        display: block !important;
    }
    .count2{
        background-color:transparent;
        background-image: radial-gradient(at center center, #38373C 0%, #151515 100%);
        width: 100%;
        border-radius: 0 25px 0 25px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }




    .bgs{
        width: 90%;
        margin-top: 20px;
    }
    .bgss{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .bgsss{
        display: block;
        align-items: center;
        margin: auto;
    
    }
    .life_box{
        background: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 90%;
        margin-bottom: 20px;
        margin: auto;
    }
    .life_box > h4{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        color: #000000;
    }
    .life_box > p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        text-align: center;

        line-height: 25px;
    }
    .skill-container{
        width: 100%;
        background-color: transparent;
        background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    }
    .skill_box{
        text-align: center;
        width: 90%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .skill_box >h2{
        font-family: Inter, Sans-serif;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.2em;
        letter-spacing: 1.3px;
        color: white;
    }
    .borderskill{
        border-bottom: 2px solid #FFB901;
        padding-bottom: 20px;
    }
    .skillFlex{
        display: block;
        justify-content: space-around;
        padding-top: 40px;
        width: 80%;
        margin: auto;
    }
    .catagory_conatiner{
        font-family: "Inter", Sans-serif;
        font-size: 28px;
        font-weight: 800;
        color: white;
    }
    
    .skill_box2{
        text-align: center;
        width: 80%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .catagory_flex{
        display: flex;
        justify-content: space-between;
        width: 65%;
        margin: auto;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }




.catagory_flex_hover{
    width: 80%;
    margin: auto;
    background: black;
    margin-bottom:20px;
    text-align: center;
    border-radius: 15px 0 15px 0;
    transition: all .2s ease-in-out;
}
.catagory_flex_hover:hover{
    transform: scale(1.1);
    opacity: 0.6;
}

.box_catagory{
    width: 362px !important;
    background-color: rgb(99, 116, 99) !important;
}
.para_cont{
    color: white;
}
.largegroup{
    color: white;
}
.largegroup2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F6F6F6;
}
.Group_conf{
    color: #E3B002;
    background-color: black;
    border: none;
    outline: none;
    width: 80%;
    padding: 5px;
    border: 1px solid #E3B002;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-para{
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    transition: all .2s ease-in-out;
    transition-timing-function: linear;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.btn-para2{
    transition: all .2s ease-in-out;
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}
.paragraphs{
    width: 100%;
    margin: 20px auto;
}
.p-2{
    width: 80%;
    margin: auto;
}
.box-pra{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px 0px 15px 0px;
    padding: 40px;
    height: auto;
    margin-bottom: 20px;
}
.box-pra2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    text-align: justify;
    
}
.box-pra3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    text-align: justify;

}
.box-pra4{
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 28px;
    color: #000000;
    text-align: justify;

}
.box-pra5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    text-align: justify;
}
.profile_box{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    transition: all .5s ease-in-out;
    height: 1200px !important;
}
.profile_box2{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    transition: all .5s ease-in-out;
    height: 600px !important;
}
.profile_container{
    width: 90%;
    margin: auto;
    display: block;
}
.new{
    width: 100%;
}
.markgroup{
    width: 90%;
    margin-top: 50px;
    border-radius: 15px 0px 15px 0px;
    margin: auto;
    display: block;
    margin-top: 50px;
    padding-top: 50px;
}
.sign{
    margin-top: 50px;
    width: 5%;
}
.charlie{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: black;
}
.charlie_para{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: black;
}
.charlie_para2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: black;
}
.Group_conf2{
    color: #E3B002;
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    padding: 5px;
    border: 1px solid #E3B002;
    margin-top: 10px;
    margin-bottom: 20px;
}
.boxx{
    width: 90%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    margin: auto;
}
.boxx1{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #000000;
}
.boxx2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.boxx3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.boxx4{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    border-left: 4px solid #E3B002;
    padding-left: 15px;
}
.heading_boxx{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.lg2{
    transition: all .5s ease-in-out;
    width: 0%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0px;
    height: 0;
    overflow: hidden;
}
.lg{
    transition: all .5s ease-in-out;
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 15px 0 15px 0;
}
.boxx8{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.mar_botom{
    margin-top: 1250px;
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    height: 250px;
}
.mar_botom2{
    margin-top: 1300px;
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    height: 250px;
}
.baner_color{
    font-family: Inter;
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 70px;
    font-weight: 900;

}
.heighlight{
    color: #E3B002;
    font-style: italic;
}
.heig{
    border-bottom: 3px solid #E3B002;
    padding-bottom: 20px;
}
.b-ner{
    width: 100%;
    padding: 50px;
}
.b-ners{
    width: 90%;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 20px;
}
.b-ners2{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
    border-left: 3px solid #E3B002;
    padding-left: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;

}

.banners_box{
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    padding: 40px;
}
.banners_heading{
    width: 90%;
    margin: auto;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #F6F6F6;
    padding-bottom: 40px;
}
.masive{
    color: #E3B002;
    border-bottom: 3px solid #E3B002;
    padding-bottom: 20px !important;
}
.banners_subHeading{
    width: 100%;
    color: white;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-top: 20px;
    text-align: center;
}
.bulletpoint{
    width: 90%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: white;
    padding-bottom: 20px;
    margin: auto;
}
.bullet_para{
    width: 90%;
    margin: auto;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 19px;
}























.containers_block{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;

    
}
.containers_block2{
    width: 90%;
    margin: auto;
    text-align: center;
    
}
.conatiener{
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 22px;
    line-height: 42px;
}
.conatiners_box{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    margin-top: 50px;
    border-radius: 25px 0px 25px 0px;
    padding: 50px;
}
.parag{
    color: #E3B002;
    font-size: 20px;
}
.parag2{
    color: #888888;
    font-style: italic;
    font-size: 18px;
}
.parag3{
    color: #888888;
    font-size: 18px;

}
.parag4{
    color: #888888;
    font-size: 18px;
}
.parag5{
    color: white;
    border-left: 3px solid  #E3B002;
    padding-left: 20px;
    font-style: italic;
    font-size: 20px;
    height: 50px;
}
.bnr{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #888888;
    margin-top: 20px;
}
.bnr2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #888888;
    margin-top: 20px;
}
.bnr3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #888888;
    margin-top: 20px;
}
.bnr4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: black;
    margin-top: 20px;
    font-weight: bolder;
}
.bnr5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: black;
    margin-top: 20px;
    border-left: 3px solid #E3B002;
    padding-left: 10px;
    height: 50px;
}
.nm{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    padding: 50px;
    width: 100%;
    margin-bottom: 50px;

}
.nm2{
    width: 80%;
    margin: auto;
}
.nm3{
    text-align: center;
    color: white;
    font-size: 22px;
}
.imp{
    color: #E3B002;
}

.grow{
    width: 100%;
}
.grow2{
    width: 80%;
    margin: auto;
}
.growHeading{
    font-weight: bolder;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}
.hh{
    width: 100%;
    font-weight: bolder;
    font-family: Inter;
    margin-top: 20px;
    font-size: 26px;
    border-left: 5px solid #0096FD;
    padding-left: 50px;
    padding-bottom: 50px;
}
.person_bg{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}
.personHeading{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    color: #F6F6F6;
    padding-top: 40px;
}

.personFlex{
    width: 100%;
    display: block;
}
.person1{
    background-color: white;
    height: auto;
    width: 90%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px 0px 25px 0;
    margin: auto;
    margin-bottom: 50px;
}
.person2{
    background-color: white;
    height: auto;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px 25px 0px 25px;
}

.personImg{
    width: 10%;
    margin: 20px auto;
}
.personalign{
    width: 100%;
    background-color: red;
    text-align: center;

}
.personh{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    color: red;
}
.personh2{
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 17px;
    color: #888888;
}
.perso{
    padding: 50px 0px;
    text-align: center;
    color: white;
    font-family: Inter;
    font-weight: bolder;
    font-size: 26px;
}
.perso2{
    padding: 50px 0px;
    text-align: left;
    color: white;
    font-family: Inter;
    font-weight: bolder;
    font-size: 26px;
    width: 70%;
    margin: auto;
}
.bord{
    border-bottom: 3px solid #E3B002;
    padding-bottom: 20px;
}
.perso3{
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    color: #888888;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.chrismas{
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size:26px;
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.charisma2{
    font-size:22px;
    padding: 20px 0px;
    font-style: normal;
    font-weight: bolder;
    border-left: 8px solid #0096FD;
    padding-left: 30px;
}   
.personContainer{
    width: 80%;
    margin: auto;
}
.personn{
    font-size: 26px;
    font-weight: bolder;
    padding: 20px 0px;
    font-style: italic;
}
.charisma_bg{
    background: radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    height: auto;
    padding: 40px 0px;
}
.charisma_size{
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 90px;
}
.charismImage{
    width: 80%;
}
.charismImage2{
    width: 80%;
}
.headinss{
    font-size: 30px;
    text-align: center;
    color: white;
}
.charisma_paragraph{
    text-align: center;
    font-size: 25px;
    color: white;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}
.charismaBorder{
    width: 80%;
    margin: 40px auto;
}
.charismaBorder_para1{
    font-size: 25px;
}
.conttu{
    width: 100%;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px 0 15px 0;
}
.contty_yelo{
    color: #E3B002;
    font-size: 22px;
    font-weight: bolder;
}
.contty_yelo2{
    font-size: 22px;
}
.contty_yelo3{
    font-size: 28px;
    font-weight: bolder
}
.contty_yelo4{
    font-size: 24px;
    padding-top: 50px;
}
.join{
    width: 90%;
    margin: auto;
    display: block;
    padding: 0;
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    padding: 20px 0px;
    align-items: center;
    border-radius: 35px 0 35px 0;
    margin: 20px auto;

}
.join1{
   width: 100%;

}
.join1 > img {
    width: 100%;
    transition: transform .8s;
}
.join1 > img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    opacity: 0.8;
}

.join2{
   width: 100%;
   color: white;

 }
 .joinHeading{
    font-family: Inter;
    font-style: italic;
    font-weight: bolder;
    font-size:26px;
    color: white;
    text-align: center;
 }
 .joinParagraph{
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: #F6F6F6;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
 }
 .join_btn{
    background: #E3B002;
    border-radius: 8px;
    height: 80px;
    width: 80%;
    border: none;
    margin: auto;
    display: block;
    font-size: 25px;
    color: black;
    outline: none;
 }
 .blog_container{
     width: 100%;
     background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
     padding: 30px 0px;
 }

 .blogs{
    width: 80%;
    margin: auto;
    text-align: center;
 }
 .whatsInside{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.blog_box{
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
.whatsInside2{
    width: 100%;
    margin: auto;
}
.whatsInside3{
    width: 100%;
    margin: auto;
}
.blogg{
    padding-top: 100px;
}
.btnblog{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #E3B002;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blogimage{
    width: 80%;
}
.x{
    width: 100%;
    border: 1px solid #E3B002;
    text-align: center;
    padding: 30px;
    border-radius: 25px 0 25px 0;
    margin-left: 30px;
}
.blog_box2{
    width: 80%;
    margin: auto;
    display: block;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.blogg2{
    padding-top: 100px;
    width: 100%;
    padding-right: 100px;
    margin-bottom: 20px;
}
.x2{
    border: 1px solid yellow;
    text-align: center;
    border-radius: 25px 0 25px 0;
}
.module1_container{
    width: 90%;
    margin: auto;
    display: block;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}
.module1_container2{
    width: 100%;
}
.module1_end2{
    width: 90%;
    padding: 50px 0px;
    padding-left: 50px;
}
.nnews{
    width: 100%;
    margin: auto;
    display: block;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 20px;
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
}
.module1_end{
    width: 90%;
    margin: auto;

}
.module1_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #888888;
    text-align: center;

}
.module1_mainHeading{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size:26px;
    text-align: center;
    padding: 20px 0;
}
.module_button{
    border: 3px solid #E3B002;
    background: transparent;
    padding: 10px 60px;
    font-size: 20px;
    color: #E3B002;
    border-radius: 8px;
    margin-bottom: 20px;
   
}
.moduleImage1{
    width: 80%;
    padding:50px;
}
.mmn{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px 0 10px 0;
}
.mmHeading{
    font-size: 19px;
    font-weight: bolder;
}
.mmparagraph{
    font-size: 15px;
    font-style: italic;
}
.module1_Hide{
    transition: all .8s ease-in-out;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.module1_view{
    transition: all .8s ease-in-out;
    height: 800px;
}



.module1_heading2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #888888;

}
.module1_mainHeading2{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size:29px;
    color: white;
}
.module_button2{
    border: 3px solid #E3B002;
    background: transparent;
    padding: 10px 60px;
    font-size: 20px;
    color: #E3B002;
    border-radius: 8px;
    margin-bottom: 20px;
}
.moduleImage12{
    width: 70%;
}
.mmn2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px 0 10px 0;
}
.mmHeading2{
    font-size: 19px;
    font-weight: bolder;
    color: white;
}
.mmparagraph2{
    font-size: 15px;
    font-style: italic;
    color: white;

}
.module1_Hide2{
    transition: all .8s ease-in-out;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.module1_view2{
    transition: all .8s ease-in-out;
    height: 850px;
}
.ana_conatiner{
    width: 100%;
}

.ana_block{
    width: 90%;
    margin: auto;
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 25px 0 25px 0;
}
.ana_heading{
    width: 100%;
    margin: auto;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
}
.ana_heading_bold{
    color: #E3B002;
    font-weight: bolder;

}
.uuy{
    border-bottom: 4px solid  #E3B002;
    padding-bottom: 40px;

}
.ana_para{
    color: white;
    padding-top: 80px;
    font-size:18px;
    font-weight: bolder;
}
.ana_box{
    width: 90%;
    margin: auto;
}
.ana_box_heading{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 80px;
    margin-bottom: 20px;
}
.ana{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}
.ana_border{
    border-left: 3px solid #0290F1;
    padding-left: 30px;
    width: 100%;
    height: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
    margin: 50px auto;
}
.ana_new{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}
.doneSign{
    font-size: 18px !important;
    font-weight: bold !important;
    color: white;
    margin-right: 10px;
    background: #0096FD;
    border-radius: 25px;
}
.xsign{
    font-size: 18px !important;
    font-weight: bold !important;
    color: white;
    margin-right: 10px;
    background: red;
    border-radius: 25px;
}
.ana_para2{
    color: black;
    font-size: 19px;
    font-weight: bolder;
}
.ana_italic{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
    font-style: italic;
}
.ana_boxx{
    width: 80%;
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    margin: auto;
    border-radius: 25px 0 25px 0;
}
.anaa{
    padding: 20px;
    color: white;
    font-size: 19px;
    font-weight: bolder;
}
.line{
    width: 80%;
    margin: auto;
    transition: all .8s ease-in-out;
    background-color: rgb(219, 43, 43);
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}
.line2{
    width: 80%;
    margin: auto;
    display: flex;
}
.lin{
    width: 30%;
    background-color: rgb(233, 216, 64);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.li{
    width: 70%;
    background-color: rgb(219, 219, 211);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;


}
.lin2{
    width: 10%;
    background-color: rgb(233, 216, 64);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.li2{
    width: 90%;
    background-color: rgb(219, 219, 211);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.lineText{
    font-size: 17px;
    font-weight: bolder;
    color: white;
    margin-top: 30px;
    padding-right: 20px !important;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;

}
.li_color{
    color: #E3B002;
}
.ss{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.ss >h1{
    width: 80%;
}
.ssnew{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.jj{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    margin-top: 40px;
}
.bonus_container{
    width: 100%;
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    padding: 20px 0px;
}
.bonus_box{
    color: #E3B002;
    border-bottom: 4px solid #E3B002;
    padding-bottom: 20px;

}
.bonus_Heaing{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding: 20px 0px;
    text-align: center;
}
.bonux_box{
    border: 4px solid gray;
    padding: 50px;
    width: 90%;
    margin: auto;
    color: white;
    font-size: 21px;
    border-radius: 25px 0 25px 0;
}
.s3{
    text-align: center;
    font-size: 30px ;
    color: #E3B002;
}
.incredible{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.bonus_align{
    text-align: center;
}
.bonux_flex{
    width: 90%;
    display: block;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}
.bonux_flex2{
    width: 100%;
    display: block;
    justify-content: space-evenly;
    background: #F3F3F3;
    padding: 80px 0;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}
.bonux_flex3{
    width: 80%;
    display: block;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 80px;
    background: #F3F3F3;
    padding: 80px 0;
    margin: auto;
}
.bus{
    font-size: 50px;
    color: #0096FD;
    font-weight: bolder;
    text-align: center;
}
.fo{
    font-size: 35px;
    font-weight: bolder;
}
.blgss{
    display: block;
    width: 90%;
    margin: auto;
}
.rblgs{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 20px;
    padding: 20px 0 20px 20px ;
    margin-bottom: 20px;
    padding-bottom: 0px;
}
.rblgss{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 5px;
    padding: 20px 0 20px 20px ;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 0px;
}

.rb{
    font-size: 19px;
    font-weight: bolder;
}
.r{
    font-size: 15px;
    font-style: italic;
}

.uni_container{
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    margin: 50px auto;
}
.n{
    position: absolute;
    height: 400px;
}
.position{
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 120px;
    width: 80%;
    margin: auto;
}
.u{
    color: #E3B002;
}
.uni_flex{
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 220px;
    text-align: center;
    justify-content: space-evenly;
}
.uni_image{
    width: 80%;
    padding-bottom: 20px;
}
.uni_card{
    width: 90%;
    background-color: white;
    margin-bottom: 80px;
    border-radius: 25px 0 25px 0;
    padding: 50px;
    margin: auto;
    margin-bottom: 20px;
}
.join_now{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}
.joins{
    text-align: center;
}
.kjh{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: black;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
ul li::before{
    content: "\2022";
    color: #E3B002; 
    padding-right: 20px;
}
.btnn{
    width: 100%;
    margin: auto;
    height: 50px;
    transition: all 1s ease-in-out;
    background-color: #E3B002;
    border: none;
    font-size: 17px;
}
.btnn:hover{
    transition: all 1s ease-in-out;
    background-color: black;
    color: white;
}
.i{
    color: white;
}
.i:hover{
    color: white;
}
.uni_n{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    color: white;
}
.money{
    color:  #E3B002;
    border-bottom: 3px solid  #E3B002;
    padding-bottom: 30px;
}
.mmnj{
    width: 50%;
    margin: 50px auto;
    padding-bottom: 100px;
    text-align: center;
}
.unibt{
    width: 100%;
    height: 80px;
    font-size: 18px;
    background-color: transparent;
    color: #E3B002;
    border:2px solid #E3B002;
    border-radius: 8px;
}
.faq_main{
    width: 90%;
    margin: auto;
}
.faqq{
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
}
.faq_question{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin-bottom: 20px;
}
.faq_question > h1{
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.faqbox_hide{
    transition: all .8s ease-in-out;
    overflow: hidden;
    height: 0;
    padding: 0;
}
.faq_box{
    transition: all .8s ease-in-out;
    height: 600px;
    padding: 20px;
    overflow: hidden;
}
.faqbox_hide2{
    transition: all .8s ease-in-out;
    overflow: hidden;
    height: 0;
    padding: 0;
}
.faq_box2{
    transition: all .8s ease-in-out;
    height: 600px;
    padding: 20px;
    overflow: hidden;
}
.faqbox_hide3{
    transition: all .8s ease-in-out;
    overflow: hidden;
    height: 0;
    padding: 0;
}
.faq_box3{
    transition: all .8s ease-in-out;
    height: 600px;
    padding: 20px;
    overflow: hidden;
}

.faq_para{
    font-size: 16px;
    font-style: italic;
    margin-left: 20px;
}
.faq_flex{
    display: flex;

}
.faq_image{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.footer_bg{
    background:radial-gradient(50% 50% at 50% 50%, #2D2C2C 0%, #000000 100%);
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}
.footer_box{
    width: 100%;
    margin: auto;
}
.footerbox_heading{
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 50px;
}
.footerbox_headerColor{
    color: #E3B002;
}
.footer_border{
    border-bottom: 3px solid #E3B002;
    padding-bottom: 20px;
}
.footer_Flex{
    display: block;
    width: 100%;
    margin: auto;
}
.footer_borders{
    width: 90%;
    padding: 20px;
    border: 1px solid gray;
    margin: auto;
    margin-top: 50px;
}
.footer_borders2{
    width: 90%;
    padding: 20px;
    border: 5px dotted #E3B002;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}
.footerpara1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #F6F6F6;
}
.footerpara2{
    font-style: italic;
    font-weight: bolder;
    font-size: 17px;
    color: white;
    border-left: 3px solid white;
    padding-left: 10px;
}
.footerimg{
    width: 20%;
    margin: auto;
}
.footerfont{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    color: #000000;

}
.footerName{
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}
.footerheadings{
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
.borderBottomfooter{
    border-bottom: 3px solid  #E3B002;
    padding-bottom: 30px;
}
.footer_btn{
    padding: 30px;
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bolder;
    background-color: #FFB901;
    border-radius: 10px;
    border: none;
}
.Footer_app{
    border-top: 2px solid gray;
}
.wwq{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding:0px;

}
.wwq2{
    width: 90%;
    margin: auto;
}
.headd{
    color: white;
    font-size: 35px;
}
.footer_Flex2{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 50px;

}
.parafooter{
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    color: #C4C4C4;
}
.hred{
    font-style: italic;
    font-weight: 600;
    font-size: 17px;
    text-decoration-line: underline;
    color: #C4C4C4;
}
.boxfooter{
    background-color: #3C3C3C;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    width: 100%;
    margin-bottom: 10px;
}
.praz{
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    color: #F6F6F6;
    margin-top: 30px;
}
.mmmnh{
    display: flex;
    flex-wrap: wrap;
}

}